<html>

<script src=
                "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<head>

    <style type="text/css">


    input[type=reset] {
        border-radius: 25px;
        border: 2;
        width: 110px;
        height:25px;
        font-family: Algerian;
        background: #f4f4f4;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
        /* IE6-9 */
    }


    fieldset {
        display: block;
        margin-left: 315px;
        margin-right: 315px;
        padding-top: 5em;
        padding-bottom: 3.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 8px groove (internal value);
        background-color: rgba(0,0,0,0.5);

    }
    </style>

    <script type="text/javascript">

        var app = angular.module("myNoteApp", []);

        app.controller("myNoteCtrl", function($scope) {
            $scope.message = "";
            $scope.left  = function() {return 400 - $scope.message.length;};
            $scope.clear = function() {$scope.message = "";};
            $scope.send  = function() {alert("Feedback sent!");
                                        console.log("echoed!")
                                        };
        });

    </script>

</head>

<body background="http://i.picresize.com/images/2015/04/28/iO4N.jpg" ng-app="myNoteApp" ng-controller="myNoteCtrl">


<br><br><br><br><form id='register' action='file:///C:/Users/bgdrek01/Desktop/Piece%20of%20art.html' method='post'
                      accept-charset='UTF-8'>


        <fieldset><center>

        <legend><font face="algerian"><font size="4"><font color="yellow"><u>Send us your feedback:</u></font></font></font></legend>

        <br><textarea ng-model="message" cols="55" rows="16" maxlength="400" placeholder="UP TO 400 CHARACTERS"></textarea>

        <br>

        <center><p>
            <input type='reset' ng-click="send()" value='Send' style="cursor: pointer;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type='reset' ng-click="clear()" value='Clear form' style="cursor: pointer;">
        </p></center>

        <p><font face="algerian"><font size="2"><font color="yellow">Number of characters left: <span ng-bind="left()"></span></font></font></font></p>

        </center></fieldset>
</form>


</body>

</html>

